:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(9, 8, 8, 0.87);
  background-color: #242424;

}
section{
  padding: 2rem;
}
section.general-info{
  background-color: cornflowerblue;
}
.name > h1{
  font-size: 3rem;
}
.container{
  margin: 0 auto;
  /* padding: 2rem; */
  max-width: 1000px;
  width: 100%;
  background-color: white;
}
.row{
  display: flex; 
  align-items: center;
}

.name{
  width: 50%;
}
.contacts{
  width: 50%;
  text-align: right;
  justify-self: flex-end;
}
